---
export const prerender = false;

import Layout from "~/layouts/Layout.astro";
import { apolloClient } from "~/apollo-client";
import { launchQuery } from "~/queries.graphql";

const { launch: launchId } = Astro.params;

if (launchId === undefined) {
	return Astro.redirect("/404");
}

const { data } = await apolloClient.query({
	query: launchQuery,
	variables: { id: launchId },
});

if (!data.launch) {
	return Astro.redirect("/404");
}

const launch = data.launch;

// The browser should always check freshness
Astro.response.headers.set(
	"cache-control",
	"public, max-age=0, must-revalidate"
);

// The CDN should cache for a year, but revalidate if the cache tag changes
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");

// Tag the page with the book ID
Astro.response.headers.set("netlify-cache-tag", launchId);
---

<Layout title={launch.mission_name!}>
	<h1 transition:name="title" transition:animate="slide">
		{launch.mission_name}
	</h1>
	<p>{launch.details}</p>

	<a href="/launches">Back to launch list</a>
</Layout>
