---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import { OpenInEditor } from "~/components/OpenInEditor";
import type { InferGetStaticPropsType } from "astro";

export async function getStaticPaths() {
	const launches = await getCollection("launches");

	return launches.map((launch) => {
		return {
			params: {
				launch: launch.id,
			},
			props: {
				launch: launch.data,
			},
		};
	});
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { launch } = Astro.props;
---

<Layout title={launch.mission_name}>
	<h1 transition:name="title" transition:animate="slide">
		{launch.mission_name}
	</h1>
	<p>{launch.details}</p>

	<blockquote>
		<OpenInEditor file={`${import.meta.filename}:22`} client:load />
		<p>You can infer each dynamic route's props automatically!</p>
	</blockquote>

	<a href="/launches">Back to launch list</a>
</Layout>
