---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";

const launches = await getCollection("launches");
---

<Layout title="Rockets">
	<h1 transition:name="title" transition:animate="slide">
		My fun rocket list!
	</h1>

	<ul>
		{
			launches.map((launch) => (
				<li>
					<a href={`/launches/${launch.id}`} data-astro-prefetch>
						{launch.data.mission_name}
					</a>
				</li>
			))
		}
	</ul>

	<a href="/">Back to homepage</a>
</Layout>
