---
export const prerender = false;

import Layout from "~/layouts/Layout.astro";
import { apolloClient } from "~/apollo-client";
import { launchesQuery } from "~/queries.graphql";

const { data } = await apolloClient.query({
	query: launchesQuery,
});

if (!data.launches) {
	return Astro.redirect("/404");
}

const launches = data.launches.filter((launch) => launch !== null);

Astro.response.headers.set(
	"cache-control",
	"public, max-age=0, must-revalidate"
);

Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");
Astro.response.headers.set("netlify-cache-tag", "launches");
---

<Layout title="Rockets">
	<h1 transition:name="title" transition:animate="slide">
		My fun rocket list!
	</h1>

	<p>This page was last rendered at {new Date().toISOString()}</p>
	<div class="flex gap-2 items-center">
		<p class="my-4">To revalidate this page, execute the following command:</p>
		<button id="revalidate" class="block">Revalidate</button>
	</div>

	<pre
		class="mt-4"
		set:html={`curl '${Astro.site}/api/revalidate?token=123&tag=launches' -X POST`}
	/>

	<ul>
		{
			launches.map((launch) => (
				<li>
					<a href={`/launches/${launch.id}`} data-astro-prefetch>
						{launch.mission_name}
					</a>
				</li>
			))
		}
	</ul>

	<a href="/">Back to homepage</a>
</Layout>

<script>
	import { SITE } from "astro:env/client";

	document.querySelector("#revalidate")!.addEventListener("click", async () => {
		await fetch(`${SITE}/api/revalidate?token=123&tag=launches`, {
			method: "post",
		});
	});
</script>
