---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Rockets">
	<div class="mx-auto text-center">
		<img src="/doge_sad.jpg" alt="sad doge" class="mx-auto block" />
		<h1 transition:name="title" transition:animate="slide">NOT_FOUND</h1>
		<p>You just hit a route that doesn't exist... the sadness.</p>
		<a href="/">Back to homepage</a>
	</div>
</Layout>
