---
import ComponentDemo from "~/components/ComponentDemo.astro";
import { OpenInEditor } from "~/components/OpenInEditor";
import { SampleClientRendererComponent } from "~/components/SampleClientRendererComponent";
import UserAvatar from "~/components/UserAvatar.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Home sweet home">
	<h1 transition:name="title" transition:animate="slide">Hola, Astro!</h1>
	<p>
		This is a demo page for Server Islands. What you're reading now is generated
		static HTML.
	</p>

	<UserAvatar server:defer />

	<OpenInEditor file={import.meta.filename} client:load />

	<ComponentDemo>
		<SampleClientRendererComponent>
			<p class="mb-0">
				This is static Astro HTML passed to my React component as children!
			</p>
		</SampleClientRendererComponent>
	</ComponentDemo>

	<a href="/launches" class="mt-4 block w-fit">Check out all launches here</a>
</Layout>

<script>
	try {
		const isPersisted = await navigator.storage.persist();
		if (isPersisted) {
			console.log("Storage will not be cleared automatically");
		}
	} catch (error) {
		console.log("Persistent storage denied");
	}
</script>
