---
import UserAvatar from "~/components/UserAvatar.astro";
import Layout from "~/layouts/Layout.astro";
// TODO: refactor this later!
---

<Layout title="Home sweet home">
	<h1 transition:name="title" transition:animate="slide">Hola, Astro!</h1>
	<p>
		This is a demo page for Server Islands. What you're reading now is generated
		static HTML.
	</p>
	<UserAvatar server:defer />

	<a href="/launches">Check out all launches here</a>
</Layout>

<script>
	try {
		const isPersisted = await navigator.storage.persist();
		if (isPersisted) {
			console.log("Storage will not be cleared automatically");
		}
	} catch (error) {
		console.log("Persistent storage denied");
	}
</script>
