---
import { Image, Picture } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";

const ships = await getCollection("ships");
---

<Layout title="Rockets">
	<h1 transition:name="title" transition:animate="slide">Ships everywhere!</h1>

	<ul class="w-full">
		{
			ships.map((ship) => (
				<li class="flex items-center w-full justify-between">
					<p>id: {ship.data.id}</p>
					{ship.data.image ? (
						// I'm lazy by default!
						// Can infer sizes on my own :)
						<Picture
							inferSize
							src={ship.data.image}
							formats={["avif", "webp"]}
							alt="A nice ship :)"
							class="w-[200px] max-h-[150px] object-cover"
							widths={[200]}
							quality={80}
						/>
					) : (
						<p>I don't have an image :(</p>
					)}
				</li>
			))
		}
	</ul>

	<a href="/">Back to homepage</a>
</Layout>
