---
import { ClientRouter } from "astro:transitions";
import { NavUser } from "~/components/NavUser";
import { NavItems } from "~/components/NavItems";
import { navItemsStore } from "~/stores/nav";
import "~/base.scss";

interface Props {
	title: string;
}

const simulatedLoadNavItems = () => {
	return new Promise((resolve) =>
		setTimeout(() => resolve(["ssg-store-init"]), 100)
	);
};

const { title } = Astro.props;

const navItems = (await simulatedLoadNavItems()) as string[];
navItemsStore.set({ navItems });
---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro | {title}</title><link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav class="flex gap-2 border-b-[1px] border-gray-700 py-2">
			<a href="/" class="hover:border-0">home</a>
			<a href="/demo" class="hover:border-0">demo</a>
			<a href="/rockets" class="hover:border-0">rockets</a>
			<a href="/launches" class="hover:border-0">launches</a>
			<a href="/ships" class="hover:border-0">ships</a>
			<NavUser client:load />
			<NavItems client:load />
		</nav>
		<main transition:name="main" class="mt-8">
			<slot />
		</main>
	</body>
</html>
